.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading {
  margin-left: 10px;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-2 {
  margin-top: 15px;
  margin-left: 10px;
  padding-left: 0px;
  font-family: Rylan, sans-serif;
  font-size: 24px;
}

.logo-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link {
  margin-right: 20px;
  margin-left: 20px;
  color: #383838;
  font-size: 24px;
  text-decoration: none;
}

.div-block-2 {
  margin-top: 0px;
}

.hero-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 992px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  margin-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-3 {
  position: relative;
  margin-left: 0px;
}

.image {
  position: relative;
  z-index: 3;
  margin-right: 40px;
}

.pink-circle {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 0%;
}

.yellow-circle {
  position: absolute;
  left: auto;
  top: 5%;
  right: 17%;
  bottom: auto;
  z-index: 4;
}

.body {
  background-color: #f2f2f2;
}

.heading-3 {
  padding-left: 100px;
  font-family: Rylan, sans-serif;
  font-size: 80px;
}

.heading-3.home {
  padding-left: 0px;
}

.paragraph {
  width: 80%;
  margin-top: 30px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  height: 56px;
  margin-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 40px;
  background-color: #fccb38;
  color: #383838;
  text-decoration: none;
}

.heading-4 {
  margin-top: 10px;
  font-family: 'PT Sans', sans-serif;
}

.image-2 {
  margin-left: 10px;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-5 {
  font-family: Rylan, sans-serif;
  font-weight: 400;
}

.div-block-5 {
  width: 992px;
}

.link-block {
  height: 420px;
  color: #383838;
  text-decoration: none;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 440px;
  height: 300px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
}

.image-3 {
  border-radius: 30px;
}

.grid {
  margin-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
}

.heading-6 {
  font-family: 'PT Sans', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
}

.text-block {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.link-block-2 {
  color: #383838;
  text-decoration: none;
}

.link-block-3 {
  height: 420px;
  color: #383838;
  text-decoration: none;
}

.link-block-4 {
  color: #383838;
  text-decoration: none;
}

.div-block-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 360px;
  padding-right: 35px;
  padding-left: 35px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 40px;
  background-color: #fff;
}

.div-block-8 {
  width: 1300px;
  padding-right: 35px;
  padding-left: 35px;
  color: #383838;
  text-decoration: none;
}

.image-4 {
  border-radius: 30px;
}

.image-5 {
  border-style: solid;
  border-width: 1px;
  border-color: #ececec;
  border-radius: 30px;
}

.image-6 {
  border-style: solid;
  border-width: 1px;
  border-color: #e0e0e0;
  border-radius: 30px;
}

.div-block-9 {
  width: 1px;
  height: 240px;
  background-color: #e0e0e0;
}

.section-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-11 {
  width: 1300px;
}

.div-block-12 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.text-block-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.text-block-3 {
  width: 300px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.text-block-4 {
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.list-item {
  margin-top: 0px;
  margin-bottom: 10px;
}

.div-block-13 {
  margin-top: 40px;
}

.heading-7 {
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
}

.bold-text {
  font-size: 24px;
}

.bold-text-2 {
  font-size: 24px;
}

.bold-text-3 {
  font-size: 24px;
}

.text-block-5 {
  margin-bottom: 40px;
  margin-left: 40px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.text-block-5.mood-board {
  margin-bottom: 10px;
  color: #000;
}

.text-block-5.flow {
  margin-top: 20px;
  margin-left: 100px;
  background-color: #facdca;
}

.div-block-14 {
  width: 1300px;
  margin-top: 20px;
}

.image-7 {
  margin-bottom: 40px;
}

.div-block-15 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-8 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-9 {
  margin-right: 8px;
  margin-left: 8px;
}

.image-10 {
  margin-right: 8px;
  margin-left: 10px;
}

.image-11 {
  margin-right: 8px;
  margin-left: 8px;
}

.div-block-16 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-12 {
  margin-right: 10px;
  margin-left: 10px;
}

.image-13 {
  margin-right: 10px;
  margin-left: 10px;
}

.image-14 {
  margin-right: 10px;
  margin-left: 10px;
}

.mask {
  height: 1100px;
}

.slider {
  height: 850px;
  background-color: transparent;
}

.slider.final-mockups {
  height: 1150px;
}

.icon {
  font-size: 30px;
}

.icon-2 {
  font-size: 30px;
}

.slide-nav {
  font-size: 12px;
}

.div-block-17 {
  width: 992px;
}

.image-15 {
  display: block;
  margin-right: 0px;
}

.div-block-18 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 80px;
  padding-right: 200px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-16 {
  position: absolute;
  left: 2%;
  top: 25%;
  right: auto;
  bottom: auto;
}

.div-block-19 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-20 {
  position: relative;
  margin-top: 60px;
  padding-left: 60px;
}

.image-17 {
  position: absolute;
  left: auto;
  top: auto;
  right: 15%;
  bottom: 15%;
}

.div-block-21 {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.link-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #383838;
  text-decoration: none;
}

.right-arrow {
  color: #000;
}

.left-arrow {
  color: #000;
}

.section-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.div-block-22 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.section-7 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.paragraph-2 {
  width: auto;
  margin-left: 0px;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

.div-block-23 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-24 {
  display: block;
  width: 1300px;
}

.image-18 {
  margin-bottom: 20px;
}

.div-block-25 {
  width: 1300px;
}

.div-block-26 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-26.aspire {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.div-block-26.phone {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.image-19 {
  margin-bottom: 20px;
}

.image-20 {
  margin-bottom: 20px;
}

.image-border {
  margin-right: 20px;
  margin-left: 20px;
  border: 4px solid #000;
  border-radius: 30px;
}

.div-block-27 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-21 {
  margin-left: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #eaeaea;
  border-radius: 30px;
}

.section-8 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-28 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph-3 {
  width: 40%;
  margin-top: 0px;
  font-family: 'PT Sans', sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.paragraph-3.long {
  width: 80%;
  margin-top: 20px;
  margin-bottom: 40px;
  margin-left: 90px;
}

.div-block-29 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.image-22 {
  width: 40%;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 200px;
}

.image-23 {
  width: 40%;
  margin-top: 40px;
}

.image-24 {
  width: 80%;
  margin-right: 60px;
}

.div-block-30 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1300px;
  padding-left: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.image-25 {
  width: 60%;
}

.body-2 {
  background-color: #f2f2f2;
}

.div-block-31 {
  width: 992px;
  padding-right: 35px;
  padding-left: 35px;
}

.section-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-26 {
  margin-top: 40px;
  margin-bottom: 40px;
  border-style: solid;
  border-width: 1px;
  border-color: #cdcdcd;
  border-radius: 30px;
}

.link-block-6 {
  display: none;
}

.section-10 {
  display: none;
}

.section-11 {
  display: none;
}

.section-12 {
  display: none;
}

.div-block-36 {
  display: none;
}

.slider-2 {
  display: none;
}

.section-13 {
  display: none;
}

@media screen and (max-width: 991px) {
  .hero-container {
    width: 100%;
    padding-left: 10px;
  }

  .heading-3 {
    padding-left: 60px;
  }

  .heading-3.home {
    font-size: 40px;
  }

  .section-3 {
    margin-top: 40px;
  }

  .heading-5 {
    font-size: 32px;
  }

  .div-block-5 {
    width: 100%;
    padding-left: 10px;
  }

  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-8 {
    display: none;
  }

  .div-block-9 {
    width: 400px;
    height: 1px;
  }

  .div-block-11 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .div-block-14 {
    width: 100%;
  }

  .image-12 {
    max-width: 25%;
  }

  .image-13 {
    max-width: 25%;
  }

  .image-14 {
    max-width: 25%;
  }

  .mask {
    height: 600px;
  }

  .slider {
    height: 600px;
  }

  .div-block-17 {
    display: none;
  }

  .div-block-22 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .section-7 {
    width: 100%;
  }

  .div-block-26 {
    width: 100%;
  }

  .div-block-26.aspire {
    width: 100%;
  }

  .image-border {
    max-width: 20%;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 20px;
  }

  .div-block-27 {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-21 {
    margin-bottom: 20px;
  }

  .div-block-28 {
    width: 100%;
  }

  .paragraph-3 {
    width: 90%;
  }

  .div-block-29 {
    padding-left: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-22 {
    width: 80%;
    margin-top: 20px;
    border-radius: 100px;
  }

  .div-block-30 {
    width: 768px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .div-block-31 {
    width: 100%;
  }

  .link-block-6 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: transparent;
    color: #383838;
    text-decoration: none;
  }

  .div-block-32 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 440px;
    height: 680px;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 30px;
    background-color: #fff;
  }

  .heading-8 {
    font-size: 28px;
  }

  .slide {
    height: 600px;
  }

  .div-block-36 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image-27 {
    margin-bottom: 20px;
  }

  .image-28 {
    margin-bottom: 20px;
  }

  .image-29 {
    margin-bottom: 20px;
  }

  .image-30 {
    margin-bottom: 20px;
  }

  .image-31 {
    max-width: 50%;
    margin-bottom: 20px;
  }

  .image-32 {
    max-width: 50%;
    margin-bottom: 20px;
  }

  .image-33 {
    max-width: 50%;
    margin-bottom: 20px;
  }

  .image-34 {
    max-width: 50%;
  }

  .slider-2 {
    display: none;
  }

  .section-13 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .section {
    display: none;
  }

  .heading-2 {
    font-size: 20px;
  }

  .hero-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 568px;
    padding-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .section-2 {
    display: none;
  }

  .div-block-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 55%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .image {
    max-width: 80%;
  }

  .heading-3 {
    padding-left: 50px;
    font-size: 60px;
  }

  .section-3 {
    margin-top: 40px;
    padding-left: 10px;
  }

  .div-block-5 {
    width: 100%;
  }

  .section-4 {
    display: none;
  }

  .div-block-11 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .text-block-3 {
    width: 150px;
  }

  .div-block-14 {
    width: 568px;
  }

  .slider {
    display: none;
  }

  .link-block-5.w--current {
    padding-left: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .div-block-22 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .section-7 {
    width: 568px;
  }

  .div-block-26 {
    width: 100%;
  }

  .div-block-26.aspire {
    width: 568px;
  }

  .div-block-26.phone {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-border {
    max-width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
  }

  .div-block-27 {
    width: 100%;
  }

  .image-21 {
    max-width: 80%;
    margin-left: 0px;
  }

  .section-8 {
    margin-top: 40px;
  }

  .div-block-28 {
    width: 100%;
  }

  .paragraph-3 {
    font-size: 20px;
  }

  .paragraph-3.long {
    width: 90%;
    margin-left: 40px;
  }

  .div-block-30 {
    width: 569px;
  }

  .div-block-31 {
    width: 100%;
  }

  .heading-8 {
    font-size: 28px;
  }

  .section-10 {
    display: block;
    padding-left: 10px;
  }

  .section-11 {
    display: block;
  }

  .container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 10px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .div-block-33 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .dropdown {
    width: 40px;
    height: 40px;
    margin-top: 15px;
    margin-right: 20px;
    margin-left: auto;
    background-image: url('../images/Asset-13x.png');
    background-position: 0px 0px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .dropdown-list {
    left: 0%;
    top: auto;
    right: auto;
    bottom: 0%;
  }

  .dropdown-list.w--open {
    left: auto;
    top: 150%;
    right: -21%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
  }

  .dropdown-link {
    font-size: 20px;
  }

  .dropdown-link-2 {
    font-size: 20px;
  }

  .div-block-34 {
    width: 90%;
    height: 1%;
    padding-right: 0px;
    padding-bottom: 0px;
    border: 0px none #000;
    background-color: #fafafa;
  }

  .section-12 {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .div-block-35 {
    width: 568px;
    margin-top: 40px;
    padding-right: 0px;
  }

  .yellow-phone {
    position: absolute;
    left: auto;
    top: 5%;
    right: 25%;
    bottom: auto;
    z-index: 4;
  }

  .div-block-36 {
    width: 568px;
  }

  .image-33 {
    margin-bottom: 20px;
  }

  .image-34 {
    max-width: 50%;
  }

  .slider-2 {
    display: block;
    height: 1200px;
    background-color: transparent;
  }

  .left-arrow-2 {
    color: #000;
    font-size: 20px;
  }

  .right-arrow-2 {
    color: #000;
    font-size: 20px;
  }

  .image-35 {
    max-width: 70%;
  }

  .div-block-37 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .slide-nav-2 {
    font-size: 12px;
  }

  .section-13 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 20px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 20px;
  }

  .text-block-6 {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
  }

  .text-block-7 {
    margin-right: 10px;
    padding-top: 30px;
  }
}

@media screen and (max-width: 479px) {
  .section {
    display: none;
  }

  .heading-2 {
    font-size: 16px;
  }

  .hero-container {
    width: 100%;
  }

  .div-block-3 {
    max-width: 90%;
    padding-left: 60px;
  }

  .image {
    max-width: 100%;
  }

  .yellow-circle {
    max-width: 80%;
  }

  .heading-3 {
    padding-left: 20px;
    font-size: 40px;
  }

  .paragraph {
    width: 90%;
  }

  .section-3 {
    padding-left: 0px;
  }

  .heading-5 {
    font-size: 28px;
  }

  .div-block-5 {
    width: 100%;
  }

  .link-block {
    height: 360px;
    max-width: 100%;
  }

  .div-block-6 {
    height: 260px;
    max-width: 100%;
  }

  .image-3 {
    max-height: 85%;
    max-width: 90%;
  }

  .grid {
    margin-right: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 0px;
  }

  .heading-6 {
    font-size: 20px;
  }

  .text-block {
    font-size: 16px;
  }

  .link-block-3 {
    height: 360px;
  }

  .image-5.phone {
    max-height: 45%;
    max-width: 90%;
  }

  .image-6.phone {
    max-height: 45%;
    max-width: 90%;
  }

  .div-block-9 {
    max-width: 90%;
  }

  .section-4 {
    display: none;
  }

  .div-block-11 {
    width: 100%;
  }

  .div-block-12 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .text-block-3 {
    margin-bottom: 10px;
  }

  .heading-7 {
    font-size: 20px;
  }

  .bold-text {
    font-size: 20px;
  }

  .bold-text-2 {
    font-size: 20px;
  }

  .bold-text-3 {
    font-size: 20px;
  }

  .text-block-5 {
    width: 320px;
    margin-left: auto;
  }

  .text-block-5.mood-board {
    width: 310px;
  }

  .text-block-5.flow {
    width: 120px;
    margin-left: 20px;
  }

  .div-block-14 {
    width: 100%;
  }

  .slider {
    display: none;
  }

  .div-block-17 {
    display: none;
    width: 320px;
  }

  .div-block-22 {
    width: 100%;
  }

  .section-7 {
    width: auto;
  }

  .paragraph-2 {
    line-height: 25px;
  }

  .div-block-26 {
    width: 100%;
  }

  .div-block-26.aspire {
    width: 100%;
  }

  .div-block-26.phone {
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .image-border {
    max-width: 70%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .div-block-27 {
    width: 100%;
  }

  .div-block-28 {
    width: 100%;
  }

  .paragraph-3 {
    font-size: 20px;
  }

  .paragraph-3.long {
    width: 90%;
    margin-left: 10px;
  }

  .div-block-29 {
    padding-left: 0px;
  }

  .image-22 {
    margin-left: 20px;
    border-radius: 80px;
  }

  .div-block-30 {
    width: 100%;
  }

  .image-25 {
    width: 80%;
  }

  .div-block-31 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
  }

  .image-26 {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .div-block-32 {
    height: 480px;
    max-height: 60%;
    max-width: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .heading-8 {
    padding-left: 10px;
    font-size: 20px;
  }

  .container {
    padding-left: 10px;
  }

  .dropdown {
    max-width: 15%;
    margin-right: 20px;
  }

  .div-block-35 {
    width: auto;
  }

  .yellow-phone {
    position: absolute;
    left: auto;
    top: 0%;
    right: 11%;
    bottom: auto;
    z-index: 4;
  }

  .div-block-36 {
    width: 90%;
  }

  .slider-2 {
    display: block;
    height: 700px;
  }

  .text-block-7 {
    padding-top: 25px;
    font-size: 16px;
  }
}

#w-node-_3ffbd3d1-cad4-e765-6694-9b72efb2ddcf-6f8bebfd {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_26f794a4-056a-1218-a4f1-f3862628bcd0-6f8bebfd {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-e8b8f603-e1c1-3fc4-312a-208dfced2d41-6f8bebfd {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_24766797-3489-555c-8c18-5bb1dfd47b02-53f366c2 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_24766797-3489-555c-8c18-5bb1dfd47b09-53f366c2 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_24766797-3489-555c-8c18-5bb1dfd47b10-53f366c2 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_24766797-3489-555c-8c18-5bb1dfd47b17-53f366c2 {
  -ms-grid-column-align: center;
  justify-self: center;
}

@font-face {
  font-family: 'Rylan';
  src: url('../fonts/Rylan-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Rylangrotesque';
  src: url('../fonts/RylanGrotesque-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}